/* ESTILOS PARA EL HEADER (MENÚ) */
* {
             margin:0px;
             padding:0px;
         }
        
         #header {
             /*margin:auto;*/
             width:500px;
             font-family:Arial, Helvetica, sans-serif;

            }
        .nav {
            z-index: 2;
        }
         ul, ol {
             list-style:none;
         }
        
         .nav > li {
             float:left;
         }
        
         .nav li a {
             background-color:#fff;
             color:#5ba545;
             text-decoration:none;
             padding:10px 12px;
             display:block;
         }
        
         .nav li a:hover {
             background-color:#5ba545;
             color:#fff;
             border-radius: 15px;
             -moz-border-radius: 10px;
             -webkit-border-radius: 10px;
         }
        
         .nav li ul {
             display:none;
             position:relative;
             min-width:140px;
         }
        
         .nav li:hover > ul {
             display:block;
         }
        
         .nav li ul li {
             position:relative;
         }
        
         .nav li ul li ul {
             right:-140px;
             top:0px;
         }

/* Imagen principal de la web*/
#imagen_header_fondo {
    width: 98vw;
    height: 15vw;
    margin-left: 1vw;
    margin-top: 15px;
    position: relative;
}

#imagen_header_1 {
    position: absolute;
    width: 15vw;
    margin-top: -15%;
    margin-left: 25vw;
}

#slider h1 {
    color: white;
    margin-top: -40%;
    position: relative;
    display: block;
    margin-left: 42vw;
    width: 100%;
    font-size: 350%;
}

/* Pie de página */

#footer {
    position: relative;
    background-color: red;
    width: 100vw;
    height: 6vw;
    bottom: 0;
}

#socialmedia {
    margin-top: 3vw;
    margin-left: 14vw;
    padding-top: 3vw;
}

#social {
    width: 1vw;
}

#corto {
    position: absolute;
    margin-left: 14vw;
    margin-top: 1%;
}

#descripción {
    position: absolute;
    margin-left: 40vw;
    margin-top: 2%;
    width: 35vw;
}

/* Menú vertical */
.contenido {

    width: 98%;
    position: relative;
    margin-top: 10%;

}

.vertical-menu {
  width: 200px;
  
  position: absolute;
  margin-left: 92%;
}

.vertical-menu a {
  background-color: #81db74;
  color: black;
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #bdecb6;
}

.vertical-menu a.active {
  background-color: #90ee90;
  color: white;
}

/*CONTENIDO PÁGINA INICIO */

.h1_inicio {
    color: #81db74;
    margin-left: 11%;
    width: 27%;
    margin-top: 6%;
    position: relative;
}

.contenido img{
    margin-left: 11%;
    position: relative;
    margin-top: 0.5%;
}

.tb_inicio {
    position: relative;
    margin-left: 8%;
    margin-top: 0.5vw;
}
.tb_inicio td {
    width: 15vw;
    margin-left: 2%;
}

.tb_inicio h1 {
    color: #81db74;
}

.h1_inicio_2 {
     color: #81db74;
     margin-left: 8%;
     margin-top: 1vw;

}
.p_inicio_2 {

    margin-left: 8%;
    width: 45%
}

/*Contenido página sobre nosotros*/

.p_sobrenosotros {
    width: 32%;
    margin-left: 11%;
}

/*Contenido página sobre clientes*/
.table_clientes {
    margin-left: 11%;
    margin-top: 3vw;
}

.table_clientes tr td {
    width: 20vw;

}

.h2_clientes {
    color: #81db74;
    width: 40vw;
    margin-left: 11%;
    margin-top: 3vw;
}

/*Contenido página sobre contacto*/
.formulario {
    margin-left: 11%;
    margin-top: 2vw;
}

.red {
    color: red;
}

.formulario label{
    width: 50%;
}

.borde {
    margin-bottom: 18px; 
    border-radius: 20px;

}

.formulario a {
    color: #81db74;
}

.enviar {
    background-color: #81db74;
    border-style: none;
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
}

h4 {
    margin-left: 11%;
}